<div class="header">
	<div class="logo"><a href="#">Botspawn</a></div>
	<ul class="head-menu">
		<li>
			<select>
				<option>Channels</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select>
		</li>
		<li>
			<select>
				<option>Data</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select>
		</li>
		<li>
			<select>
				<option>Alerts</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select>

		</li>
	</ul>
		
 
		
		
      
	<div class="profImg" >
	
<button (click)="profileBtn()" class="profileBtn">
 
</button>
  <div class="profileForm" *ngIf="showProfileForm">
  	
 Name
  </div>
	</div>

	
</div>
